
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>File Download Feed</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        /* Add some custom styles */
        body {
          background-color: #f8f9fa;
          font-family: 'Poppins','san-serif';
        }
    
        .navbar {
          background-color: #333;
          color: #fff;
        }
        input[type="text"]{
          display: block;
          margin: 40px auto 0 auto;
          padding: 10px 20px;
          max-width:600px;
          width: 95;
        }
        button,input,select,textarea{
          font-family: 'inherit';
          font-size: 100%;
        }
        hr{
          border-top: none;
          border: 1px solid lightgray;
        }
    
        .navbar-brand,
        .navbar-nav .nav-link {
          color: #fff;
        }
    
        .search-bar {
          margin-top: 20px;
          margin-bottom: 20px;
        }
    
        .list-group-item {
          background-color: #fff;
          border-color: #dee2e6;
          margin-bottom: 10px;
        }
    
        #searchresults{
       max-width: 600px;
       width:95%;
       margin: 20px auto 0 auto; 
      
      }

        .file {
            background-color: #fff;
            margin-bottom: 20px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
        }
        .file h5 {
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: bold;
            color: #333;
        }
        .file p {
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 14px;
            color: #666;
        }
        .file-icons {
            margin-top: 10px;
        }
        .file-icons a {
            margin-right: 10px;
            color: #666;
            font-size: 18px;
        }
        .file-icons a:hover {
            color: #333;
        }
        
    </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">File Server</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
              <!-- <div class="search-bar">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search"  name="key" onkeyup="sendData(this)">
                </div>
              </div> -->
             <h1>Live Search</h1>
              <form action="/submit" method="post" class="d-flex">
                <input class="form-control me-2" type="search" name="search_box" placeholder="Search" id="search-box" onkeyup="sendData(this)" aria-label="Search">
                <button id="submitButton" class="btn btn-primary" type="submit">Search</button>
              </form>
              <section id="searchresults">
             
              </section>
              
              

              <ul id="searchResults"></ul>
                <h1 class="text-center mt-5 mb-3">File Download Feed</h1>
                <% if (files.length > 0) { %>
                  <ul>
                    <% files.forEach((file) => { %>
                            
                            <div class="file">
                              <h5 class="mb-1"><%= file.title %></h5>
                              <p><%= file.description%></p>
                              <p><%= file.fileType%></p>
                              <div class="file-icons">
                                <a href="/download/<%= file._id%>"><i class="fas fa-download"></i></a>
                                  <a href="/preview/<%= file._id%>/"><i class="fas fa-eye"></i></a>
                                   <a href="/send-email/<%= file._id%>"><i class="fas fa-envelope"></i></a>
                                  
                              </div>
                          </div>
                    <% }); %>
                  </ul>
                <% } else { %>
                  <p>No files found.</p>
                <% } %>
              </div>

               <!-- Modal -->
  <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header bg-primary text-white">
              <h5 class="modal-title">Add File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">
          <div class="row">
            <form action="/send-email/{{fileId}}" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <label for="Senders">Sender</label>
                <input type="text" name="senderEmail" class="form-control" name="" placeholder="Sender" required>
              </div><br>                    
              <div class="form-group">
                <label for="Receiver">Receiver</label>
                <input type="text" class="form-control" name="receiverEmail" placeholder="Receiver" required>
              </div>
                </div>
              </div>
              <button type="submit" class="btn btn-block btn-primary">Create</button>
            </form>
        </div>      
        </div>
      </div>
    </div>
  </div>

  <script>
    let selectedResult = null;
    const searchInput = document.getElementById('search-box');
    const submitButton = document.getElementById('submitButton');
  
    function sendData(e) {
      const searchresults = document.getElementById('searchresults');
      fetch('getFiles', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ payload: e.value })
      })
        .then(res => res.json())
        .then(data => {
          let payload = data.payload;
          searchresults.innerHTML = '';
          if (payload.length < 1) {
            searchresults.innerHTML = '<p>Sorry, nothing found</p>';
            return;
          }
          payload.forEach((item, index) => {
            if (index > 0) searchresults.innerHTML += '<hr>';
            searchresults.innerHTML += `<p class="search-result-item" onclick="selectResult(event)" data-file-id="${item._id}">${item.title}</p>`;
      
            ;
          });
        });
      return;
    }
  
    function selectResult(event) {
      const clickedResult = event.target.textContent;
      selectedResult = clickedResult;
      searchInput.value = clickedResult;
      searchResults.innerHTML = '';
    }
    
   
  </script>
  
  <!-- <script>
    function downloadFile(fileId) {
      fetch(`/download/${fileId}`)
        .then(response => {
          if (response.ok) {
            return response.blob();
          }
          throw new Error('Error downloading the file.');
        })
        .then(blob => {
          // Create a temporary URL for the downloaded file
          const url = window.URL.createObjectURL(blob);
          // Create a temporary <a> element to trigger the file download
          const a = document.createElement('a');
          a.href = url;
          a.download = 'file_name.extension'; // Set the desired filename
          a.click();
          // Clean up the temporary URL
          window.URL.revokeObjectURL(url);
        })
        .catch(error => {
          console.error(error);
        });
    }
    
  </script> -->
  
              
        <!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- Bootstrap JS (Optional, if you want to add more functionality) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
 <!-- Bootstrap JS (Optional, if you want to add more functionality) -->
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>



